@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
    
  }
  
  .custom-scroll {
    animation: scroll 30s linear infinite;
  }
  
  /* Fade-in animation for footer */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in-out both;
}
